<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fire Detection Drone</title>
</head>
<style>
    #dynamic-load {
        width: 80vw;
        height: 300px;
        margin: 20px auto;
        background-color: {{dynamic_color}};
    }
</style>
<body>
    <h1>Develop</h1>
    <h2>Dynamic Loading Template</h2>
    <div id="dynamic-load"></div>
</body>
</html>
<script>
    var loopReload;

    function loopInterval() {
        loopReload = setInterval(reloadPage, 1000)
    }

    function reloadPage() {
        {% if is_fire %}
            //fire ball mouse animation
            show_pika()

        {% endif %}
        {% if not is_fire %}
            location.reload()
        {% endif %}
    }

    function show_pika() {
        var img = document.createElement("img");
        img.src = "/data/pika.gif"
        document.body.appendChild(img);
    }

    loopInterval()
</script>