<!DOCTYPE html>
<html lang="en">
<head>
	<link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body background-color=#2F4F4F>

	<div class='title'><h1 class='title'>Fire Detect Drone</h1></div>
	<div class='main'>
		<button class="button">Drone 1</button>
		<button class="button">Drone 2</button>
		<button class="button">Drone 3</button>
		<button class="button">Drone 4</button>
		<button class="button">Drone 5</button>
		<button class="button">Drone 6</button>
	</div>
</body>
</html>